.who-table .reveal table th, .reveal table td {
  text-align: left;
  border: 0px solid;
  padding: 0em 0em 0.25em 0.5em;
}

.reveal h2 {
  font-size: 60px;
  margin: 0px 0px 50px;
}

.reveal p {
  font-size: 35px;
}

li {
  font-size: 35px;
}
